# Filepath to the exported Postman collection
COLLECTION_SOURCE_FILE=CollectionName.postman_collection.json
# Base URL for the Postman collection
COLLECTION_BASE_URL=https://api.maximizer.com/octopus
# Path to the folder where the markdown files will be exported
MARKDOWN_FOLDER=/tmp/reame-docs

# The parameters below are optional. Specify them if you want to update the API documentation on Readme.
# Readme API configuration
README_API_ENDPOINT=https://api.readme.com/v2
README_API_KEY=your-api-key

# Your readme branch
README_API_BRANCH=stable
# Prefix for the created pages (to make sure they don't conflict with existing pages)
README_API_PREFIX=octopus-postman
# Section for the pages (could be only `guides` or `reference`)
README_API_SECTION=reference
# Category (Title) in which all pages will be included
README_API_CATEGORY_TITLE="Octopus API"
# Filepath to the file where the slugs of the created pages will be stored
README_API_CREATED_PAGES_FILE=pages.txt